* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7c3b8;
}

.header{
  text-align: center;
  color: black;
  size: 40px;
  text-decoration-style: solid;
  border:2px white;
  padding-bottom: 5%;
  padding-top: 15%;
}

  .box{
  width: 400px;
  border: 3px white;
  border-style: solid;
  background-color: white;
  opacity: 0.7;
}

.mainContent {
  margin: 0 10px;
}

img {
  width: 100%;
}

nav {
  padding-left: 3%;
  padding-top: 5%;
}

nav a{
  text-decoration: none;
  color: white;
}

.btn{
  background-color: #e84393;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px 2px 4px;
  cursor: pointer;
  align-content: center;
}

.btn:hover{
  background: #fab1a0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.profiletxt{
   font-family: Apple Chancery, cursive;
}

/*       styling social media logos            */

.socialMedia{
  margin-top: 5%;
  margin-left: 5%;
  
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 60%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #C13584;
  color: white;
}

/*          styling contact form                  */
.form-title{
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
  margin-bottom: 10px;
}

.form-title:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-form {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: rgb(253, 253, 253);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: rgb(253, 253, 253);
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.informativeMessage{
  font-family: Apple Chancery, cursive;
  margin: 2%;
}

/*Displaying Projects */

.news {
  display: flex;
  flex-wrap: wrap;
}
.newsItem {
  flex-basis: 50%;
  padding: 0 10px;
}

footer{
  text-align: center;
  background-color: #e84393;
  color: white;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  margin: 5% 12% 0% 12%;
}
  

/*My Journey Styling */

.journeytxt{
  font-family: Apple Chancery, cursive;
  margin: 2%;
}


